.main-header {
  // .navbar-brand {
  //   img {
  //     height: 75px;
  //   }
  // }
  .navbar-brand {
    img {
      width: 100%;
      height: 80px;
    }
    .logo-text {
      padding: 17px 0 17px 14px;
      .real-time,
      .innovation {
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
        color: #ebff00;
      }
    }
  }
  .bg-litblack {
    background: #323238;
    padding: 0rem;
  }
  .navbar-toggler {
    border: none;
    &:focus {
      border: none;
      box-shadow: none;
    }

    .header-toogle-icon {
      font-size: 30px;
      color: #fff;
    }
  }

  .nav-list {
    padding: 20px 0;
    padding-right: 1.5rem;
    .nav-item {
      padding-right: 30px;
      .nav-link {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        &.active {
          color: #ebff00;
        }
      }
    }
  }
}

@media only screen and (max-width: 996px) {
  .navbar-brand {
    img {
      width: 100%;
      height: 60px !important;
    }
    .logo-text {
      padding: 12.5px 0 12.5px 8px;
      .real-time,
      .innovation {
        font-size: 18px !important;
        line-height: 16px !important;
     
      }
    }
  }
  .collapse {
    ul.nav-list {
      text-align: center !important;
      border-top: 1px solid #949c9e;
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    img {
      width: 100%;
      height: 60px !important;
    }
    .logo-text {
      padding: 12.5px 0 12.5px 8px;
      .real-time,
      .innovation {
        font-size: 18px !important;
        line-height: 16px !important;
     
      }
    }
  }
  .collapse {
    ul.nav-list {
      text-align: center !important;
      border-top: 1px solid #949c9e;
    }
  }
}
