.main-header {
  // .navbar-brand {
  //   img {
  //     height: 75px;
  //   }
  // }
  .navbar-brand {
    img {
      width: 100%;
      height: 80px;
    }
    .logo-text {
      padding: 17px 0 17px 14px;
      .real-time,
      .innovation {
        font-weight: 500;
        font-size: 28px;
        line-height: 24px;
        color: #ebff00;
      }
    }
  }
  .bg-litblack {
    background: #323238;
    padding: 0rem;
  }
  .navbar-toggler {
    border: none;
    &:focus {
      border: none;
      box-shadow: none;
    }

    .header-toogle-icon {
      font-size: 30px;
      color: #fff;
    }
  }

  .nav-list {
    padding: 20px 0;
    padding-right: 1.5rem;
    .nav-item {
      padding-right: 30px;
      .nav-link {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        &.active {
          color: #ebff00;
        }
      }
    }
  }
}

@media only screen and (max-width: 996px) {
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .container-fluid{
    padding: 0px !important;
  }
  .navbar-brand {
    img {
      width: 100%;
      height: 60px !important;
    }
    .logo-text {
      padding: 12.5px 0 12.5px 8px;
      .real-time,
      .innovation {
        font-size: 18px !important;
        line-height: 16px !important;
     
      }
    }
  }
  #navbarSupportedContent{
    border-top: 1px solid #949C9E !important;
    border-bottom: 1px solid #949C9E !important;
border-radius: 4px 0px 0px 4px !important;
  }
    ul.nav-list {
      text-align: center !important;
      // border-top: 1px solid #949c9e;
    }
  
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .container-fluid{
    padding: 0px !important;
  }
  .navbar-brand .logo-text .innovation,
  .navbar-brand .logo-text .real-time {
    font-weight: 500;
    font-size: 22px !important;
    line-height: 15px !important;
    color: #ebff00;
  }

  .navbar-brand {
    img {
      width: 100%;
      height: 60px !important;
    }
    .logo-text {
      padding: 12.5px 0 12.5px 8px;
      .real-time,
      .innovation {
        font-size: 18px !important;
        line-height: 16px !important;
     
      }
    }
  }
  #navbarSupportedContent{
    border-top: 1px solid #949C9E !important;
    border-bottom: 1px solid #949C9E !important;
border-radius: 4px 0px 0px 4px !important;
  }
    ul.nav-list {
      padding: 0px !important;
      text-align: center !important;
      // border-top: 1px solid #949c9e;
      .nav-item{
line-height: 24px !important;
        .nav-link{
          font-size: 16px !important;
        }
      }
     
    }

}
