<main class="main-content">
  <div class="row g-0">
    <div class="col-sm-12">
      <div class="mission-bg-img">
        <div
          class="mission d-flex flex-column justify-content-center align-items-center text-center"
        >
          <div class="title">Mission</div>
          <div class="sub-title">
            Innovative solutions for a better tomorrow
          </div>
          <div class="text">
            We focus on creating innovative products that empower people to
            liver better, meaningful lives.
          </div>
        </div>
      </div>
    </div>

    <!-- product section  -->
    <div class="col-sm-12">
      <section class="product">
        <div
          class="our-product d-flex flex-column justify-content-center align-items-center text-center pt-5 pb-3"
        >
          <div class="product-title pb-1">Our Products</div>
          <div class="our-works">What We Do</div>
        </div>

        <div class="container pb-5 pt-3">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
              <div class="card daily">
                <div class="card-body">
                  <div class="card-img pb-2">
                    <img
                      src="../../assets/images/me-daily.png"
                      class="card-img-top img-fluid"
                      alt="..."
                    />
                  </div>
                  <h5 class="card-title">Mevolve Daily</h5>
                  <div class="card-text pb-2">Mobile App, Website</div>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consec tet ur adipiscing elit.
                    Accumsan sed faucibu s faucibus augue. Cras ut.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
              <div class="card daily">
                <div class="card-body">
                  <div class="card-img pb-2">
                    <img
                      src="../../assets/images/me-junior.png"
                      class="card-img-top"
                      alt="..."
                    />
                  </div>
                  <h5 class="card-title">Mevolve Junior</h5>
                  <div class="card-text pb-2">Mobile App, Website</div>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consec tet ur adipiscing elit.
                    Accumsan sed faucibu s faucibus augue. Cras ut.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
              <div class="card daily">
                <div class="card-body">
                  <div class="card-img pb-2">
                    <img
                      src="../../assets/images/me-focus.png"
                      class="card-img-top"
                      alt="..."
                    />
                  </div>
                  <h5 class="card-title">Mevolve Focus</h5>
                  <div class="card-text pb-2">Mobile App, Website</div>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consec tet ur adipiscing elit.
                    Accumsan sed faucibu s faucibus augue. Cras ut.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- about us action  -->
    <div class="col-sm-12">
      <section class="about">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center pt-5 pb-3"
        >
          <div class="about-title pb-1">About</div>
          <div class="about-us">Our Culture and Valueso</div>
        </div>

        <div class="container pb-5">
          <div class="row">
            <div class="col-sm-6">
              <div class="about-value-text">
                At Realtime Innovations, we are passionate about delivering
                exceptional products that enhance your everyday life. We strive
                to create innovative solutions that address your needs and
                exceed your expectations. .
              </div>
              <div class="about-list pt-4" id="lagre">
                <ul class="list-group mx-auto">
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check-lg"></i>
                    </span>
                    Great mobile app
                  </div>
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check"></i>
                    </span>
                    Innovative website design
                  </div>
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check"></i>
                    </span>
                    UI/UX design with global trends
                  </div>
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check"></i>
                    </span>
                    Web and email hosting service
                  </div>
                </ul>
              </div>
            </div>

            <!-- pentagone  -->
            <div class="col-sm-6">
              <div class="polygons">
                <div class="d-flex align-items-center justify-content-center">
                  <div class="hex4"></div>
                  <div
                    class="polygonetext d-flex flex-column justify-content-center align-items-center"
                  >
                    <p class="text">Innovative</p>
                    <p class="text">Solution</p>
                  </div>
                </div>
                <div
                  class="polygon d-flex align-items-center justify-content-center"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="hex4"></div>
                    <div
                      class="polygonetext d-flex flex-column justify-content-center align-items-center"
                    >
                      <p class="text">Remote</p>
                      <p class="text">First</p>
                      <p class="text">Approch</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="hex4"></div>
                    <div
                      class="polygonetext d-flex flex-column justify-content-center align-items-center"
                    >
                      <p class="text">Speed</p>
                      <p class="text">&</p>
                      <p class="text">Execution</p>
                    </div>
                  </div>
                </div>
                <div
                  class="polygon d-flex align-items-center justify-content-center"
                >
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="hex4"></div>
                    <div
                      class="polygonetext d-flex flex-column justify-content-center align-items-center"
                    >
                      <p class="text">Employee</p>
                      <p class="text">Engagement</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="hex4"></div>
                    <div
                      class="polygonetext d-flex flex-column justify-content-center align-items-center"
                    >
                      <p class="text">Encouraging</p>
                      <p class="text">Leadership</p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="hex4"></div>
                    <div
                      class="polygonetext d-flex flex-column justify-content-center align-items-center"
                    >
                      <p class="text">Employee</p>
                      <p class="text">Retention</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- moile view  -->
            <div class="col-sm-6" id="mobile-view">
              <div class="about-list pt-4">
                <ul class="list-group mx-auto">
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check-lg"></i>
                    </span>
                    Great mobile app
                  </div>
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check"></i>
                    </span>
                    Innovative website design
                  </div>
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check"></i>
                    </span>
                    UI/UX design with global trends
                  </div>
                  <div class="list-group-item">
                    <span
                      class="d-inline-flex align-items-center justify-content-center text-white rounded-circle m-1 me-2"
                    >
                      <i class="bi bi-check"></i>
                    </span>
                    Web and email hosting service
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- career us action  -->
    <div class="col-sm-12">
      <section class="career">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center pt-5 pb-3"
        >
          <div class="career-title pb-1">Career</div>
          <div class="join-team">Join our team</div>
        </div>

        <div class="row g-0 pb-5">
          <div class="col-sm-12">
            <div class="container">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <div class="card">
                    <div
                      class="card-body d-flex flex-column align-items-center justify-content-center py-4"
                    >
                      <div class="team-title">Front End Developer</div>
                      <div class="team-list py-3">
                        <ul>
                          <li>Angular</li>
                          <li>Firebase</li>
                        </ul>
                      </div>
                      <div class="apply-btn">
                        <button type="button" class="btn btn-primary">
                          Apply
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <div class="card">
                    <div
                      class="card-body d-flex flex-column align-items-center justify-content-center py-4"
                    >
                      <div class="team-title">Flutter Developer</div>
                      <div class="team-list py-3">
                        <ul>
                          <li>Flutter</li>
                          <li>Firebase</li>
                        </ul>
                      </div>
                      <div class="apply-btn">
                        <button type="button" class="btn btn-primary">
                          Apply
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <div class="card">
                    <div
                      class="card-body d-flex flex-column align-items-center justify-content-center py-4"
                    >
                      <div class="team-title">UI/UX Designer</div>
                      <div class="team-list py-3">
                        <ul>
                          <li>Figma</li>
                          <li>Canva</li>
                        </ul>
                      </div>
                      <div class="apply-btn">
                        <button type="button" class="btn btn-primary">
                          Apply
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6">
                  <div class="card">
                    <div
                      class="card-body d-flex flex-column align-items-center justify-content-center py-4"
                    >
                      <div class="team-title">QA Automation</div>
                      <div class="team-list py-3">
                        <ul>
                          <li>Appium</li>
                          <li>Typescript</li>
                        </ul>
                      </div>
                      <div class="apply-btn">
                        <button
                          type="button"
                          class="btn btn-danger form-control"
                        >
                          Apply
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Contact us action  -->
    <div class="col-sm-12">
      <section class="career pb-5">
        <div
          class="d-flex flex-column justify-content-center align-items-center text-center pt-5 pb-3"
        >
          <div class="career-title pb-1">Contact</div>
          <div class="join-team">Let’s talk</div>

          <div class="card">
            <div
              class="card-body d-flex align-items-center justify-content-center py-2"
            >
              <div class="contact-title">Mail us -</div>
              <div class="email-address">hello@realtimeinnovations.com</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
